@import 'src/sass/variables.scss';

.container-pokemons {
  flex-basis: 70%;
  flex-grow: 1;

  .columns {
    margin: -.75rem;
  }

  .card-gallery {
    text-align: center;
  }

  .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
  }

  .card-gallery img {
    background-size: 95%;
    margin: 10px;
    width: 240px;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition-duration: .3s;
    transition-property: transform;

    &:hover {
      transform: scale(1.1);
    }
  }

}
