@import "src/sass/variables";

.valid-errors-modal-wrapper {
    width: 100%;
    min-height: 53px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 15;
    left: 0;
    right: 0;
    top: 74px;
}

.valid-errors-modal {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    position: fixed;
    max-width: 600px;
    z-index: 15;
    background: $gray-100;
    min-height: 53px;
    padding: 15px 16px;
    box-sizing: border-box;
    border-radius: 4px;

    .icon {
        display: flex;
        align-self: center;
        margin-right: $margin-2;
    }

    span {
        display: flex;
        align-self: center;
        font-size: $p3;
        line-height: 21px;
        color: $orange;
        text-align: center;
    }

    button {
        display: flex;
        margin-left: $margin-2;

        img {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 700px) {
    .valid-errors-modal {
        max-width: 90%;
    }
}
