@import 'src/sass/variables.scss';

.pokemon-page {

  .column-one {
    flex-basis: 40%;
    flex-grow: 1;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  .column-two {
    flex-basis: 60%;
    flex-grow: 1;
    margin-left: $margin-8;

    .pokemon-attribute {

      line-height: 32px;
      color: $gray-700;
      font-size: $h4;
      margin: $margin-3;

      span {
        margin-left: $margin-2;
        color: $gray-400;
      }
    }

    .line {
      border: 1px solid $gray-100;
      margin-top: $margin-4;
      margin-bottom: $margin-4;
      width: 90%;
    }
  }
}
@media screen and (max-width: 700px) {
  .pokemon-page {
    .column-two {
      margin-left: 0;
    }
  }
}


@media screen and (max-width: 576px) {
  .pokemon-page {
    .column-one {
      flex-basis: 50%;
    }
    .column-two {
      .pokemon-attribute {
        font-size: 1rem;

      }
    }
  }
}