@import 'src/sass/variables.scss';

.login-verification-page h2 {
  line-height: 48px;
  text-align: center;
}

.login-verification-page .input-item {
  margin-top: $margin-4;

  .input-wrapper {
    max-width: 368px;
    width: 100%;
    display: block;

    label {
      margin-bottom: $margin-1;
    }

    .code {
      margin-bottom: 15px;
    }

    input:focus {
      border-color: $blue-900;
    }
  }

  button[type^="submit"] {
    background: $gradient;
    display: flex;
    width: 77.27%;
    justify-content: center;
    color: $white;
    padding: 18px 24px;
    border-radius: 4px;
    line-height: 21px;
    font-size: $p2;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    transition: opacity, box-shadow .2s;
    box-shadow: $bs-normal-2;
  }

  button[type^="submit"]:hover {
    opacity: .85;
    box-shadow: $bs-hover-2;
  }

}

@media screen and (max-width: 576px) {
  .login-verification-page .input-item button[type^="submit"] {
    width: 100%;
  }
}
