@import 'src/sass/variables.scss';

header {
  height: 50px;
  margin-top: $margin-2;
  margin-bottom: $margin-2;
}

.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-left, .header-right {
    .link {

      a {
        font-size: $p1;
      }

      .back, .exit {
        max-width: 60px;
        width: 100%;
        color: $gray-400;
        display: block;
        padding-bottom: 5px;
        transition: .2s;
        text-align: center;
      }

      .back:hover, .exit:hover {
        color: $gray-700;
      }
    }
  }

  .header-left {
    display: flex;
    margin-left: $margin-2;
  }
  .header-right {
    margin-right: $margin-2;
  }
}